{% extends 'base.html.twig' %}


{% block title %}Miton.com{% endblock %}

{% block body %}



<div class="jumbotron">   
{% for recette in recettes %}

 {% include 'recette/_indexCard.html.twig' %}

{% endfor %}
</div>   

{% endblock %}
