{% extends 'base.html.twig' %}


{% block title %}Miton.com{% endblock %}

{% block body %}


{# mise en forme des cartes recettes#}
<div class="card">
   
{% for recette in recettes %}

 <h1> {{ recette.nomrecette }} </h1>
 {#<a href="{{ path ('recette')}}  ">Clic moi</a>  #}
 <a href=" /recettes/{{ recette.id }} ">clic moi </a>
 
{% endfor %}
    
</div>
{% endblock %}
