{{ form_start(form) }}

    <textarea name="etape1" id="etape" cols="30" rows="10"></textarea>
    <textarea name="etape2" id="" cols="30" rows="10"></textarea>
    
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
