<div class="card text-center">
    <div class="card-header">
        <p> Etape : {{ key + 1}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{ r }}</p>
    </div>
</div>         